<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 sidebar categories">
            <h2>Categories</h2>
            <section id="category-list">
                <ul></ul>
            </section>
        </div>
        <div class="col-sm-8 sessions">
            <h2>Sessions</h2>
            <section id="main">
            </section>
            <section id="input">
            </section>
        </div>
    </div>
</div>
</div>

<!-- Templates -->
<script type="text/template" id="item-template">
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Organizer</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(session, function(session) { %>
        <tr>
            <td><%= session.get('title') %></td>
            <td><%= session.get('category') %></td>
            <td><%= session.get('organizer') %></td>
            <td>
                <button>Sign Up</button>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script type="text/template" id="input-template">
    <div class="add-session">
        <form class="add-form">
            <input name="input-title" type="text" placeholder="Title...">
            <input name="input-category" type="text" placeholder="Category...">
            <input name="input-organizer" type="text" placeholder="Organizer...">
            <button class="add-session" type="submit">Add</button>
        </form>
    </div>
</script>

<script type="text/template" id="category-template">
    <ul>
        <% _.each(category, function(categories) { %>
        <li><a href="#"> <%= categories.get('category') %> </a> <span class="glyphicon glyphicon-unchecked"
                                                                      aria-hidden="true"></span></li>
        <% }); %>
    </ul>

</script>

<!--=====================-->
<!--Libraries-->
<!--=====================-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="categories.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"
        type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js" type="text/javascript"></script>
<script sr="https://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js"
        type="text/javascript"></script>

<!--=====================-->


<script type="text/javascript">
    (function ($) {

        <!--=====================-->
        <!-- Models -->
        <!--=====================-->

        var Session = Backbone.Model.extend({
            defaults: {
                title: '',
                category: '',
                organizer: ''
            }
        });

        var session1 = new Session({title: '1', category: 'web', organizer: 'GNK'});
        var session2 = new Session({title: '2', category: 'android', organizer: 'Albin'});
        var session3 = new Session({title: '3', category: 'web', organizer: 'GNK'});
        var session4 = new Session({title: '4', category: 'android', organizer: 'Albin'});

        var Category = Backbone.Model.extend({
            defaults: {
                category: ''
            }
        });

        <!--=====================-->
        <!-- Collections -->
        <!--=====================-->

        var SessionList = Backbone.Collection.extend({
            url: '#',
            model: Session,
            tagName: 'li',
            localStorage: new Store("session-list-store"),
            initialize: function () {
                console.log('initializing...');
            }
        });

        var sessionList = new SessionList([session1, session2, session3, session4]);
        console.log(sessionList.toJSON());

        var CategoryList = Backbone.Collection.extend({
            url: '#',
            model: Category,
            localStorage: new Store('categories-list'),
            initialize: function () {
                console.log('initializing...');
            }
        });

        var categoryList = new CategoryList([{category: 'Android'}, {category: 'iOS'}, {category: 'Web'}, {category: 'Cloud'}]);
        console.log(categoryList);

        <!--=====================-->
        <!-- Views -->
        <!--=====================-->

        var CategoryView = Backbone.View.extend({
            model: Category,
            render: function () {
                return this;
            }
        });

        categoryView = new CategoryView();

        var CategoryListView = Backbone.View.extend({
            el: '#category-list',
            model: Category,

            initialize: function () {
                this.render();
            },

            render: function () {
                var template = _.template($('#category-template').html(), {category: categoryList.models});
                this.$el.html(template);
                console.log(template);
            }
        });

        categoryListView = new CategoryListView();

        var SessionView = Backbone.View.extend({
            model: Session,
            render: function () {
                return this;
            }
        });
        sessionView = new SessionView();

        var SessionListView = Backbone.View.extend({
            el: '#main',
            model: Session,

            initialize: function () {
                this.render();
            },

            render: function () {
                var template = _.template($('#item-template').html(), {session: sessionList.models});
                this.$el.html(template);
            }
        });

        sessionListView = new SessionListView();

        var InputView = Backbone.View.extend({
            el: '#input',
            model: Session,

            initialize: function () {
                this.render();
            },

            render: function () {
                var template = _.template($('#input-template').html(), {});
                this.$el.html(template);
            },

            events: {
                'submit': 'submit'
            },
            clear: function () {
                $('.add-form').find('input[type=text]').val('');
            },

            submit: function (e) {
                e.preventDefault();
                var title = $('.add-form').find('input[name=input-title]').val();
                var category = $('.add-form').find('input[name=input-category]').val();
                var organizer = $('.add-form').find('input[name=input-organizer]').val();

                var addedSession = new Session({title: title, category: category, organizer: organizer});
                sessionList.add(addedSession.toJSON(), {});
                console.log(sessionList);
                sessionListView.render();
                this.clear();
            },

        });

        inputView = new InputView();

    })(jQuery);


</script>


</body>
</html>